<!DOCTYPE html>
<html>
<!-- TODO: GET waterwheel image (line 39) -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<style>
    .text {
      max-width: 700px;
      margin: auto;
      background: white;
      padding: 10px;
    }
</style>
    
<nav class="w3-bar w3-blue">
    <a href="home.html" class="w3-button w3-bar-item">Home</a>
    <a href="#login" class="w3-button w3-bar-item">Login</a>
    <a href="#Profile" class="w3-button w3-bar-item">Tour</a>
    <a href="overview.html" class="w3-button w3-bar-item">Database</a>
    <a href="#About" class="w3-button w3-bar-item">About</a>
</nav>

<head>
    <title>
        About Us
    </title>
</head>
<div class="text">
<section class="w3-container w3-center">
    <body>
        <h1 >
            About Us
        </h1>
        <p>
        Welcome to our page! We are Water Wheel, a small company based in Fullerton, California. Our goal is to make a well designed database to help you, the user. We'd love it if you were to submit any feedback (good or bad) at davidhuang@waterwheelcompany.com.
        </p>
    </body>
    <img src="waterwheel.png" alt="Water Wheel">
</section>
</div>


</html>
